.select-plan-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 110px;
	max-height: 487px;
	max-width: 600px;
	width: 100%;
}

.select-plan-container .info {
	margin-bottom: 50px;
}

.plan-options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	height: 300px;
}

.options {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.options button {
	width: 125px;
	text-align: left;
	padding: 15px 15px;
	border-radius: 5px;
	border: 1px solid var(--light-gray);
	background-color: var(--alabaster);

	display: flex;
	flex-direction: column;
	gap: 30px;
}

.options button:hover,
.options button:focus {
	border: 2px solid var(--purplish-blue); /* Change this color to your desired outline color */
}

.plan-options .plan-info {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.plan-info .plan-name {
	font-weight: 600;
	color: var(--marine-blue);
	font-size: 14px;
}

.plan-info .plan-pricing {
	color: var(--cool-gray);
}

.plan-info .plan-yearly-deal {
	color: var(--marine-blue);
	display: none;
}

.plan-info .plan-yearly-deal.show {
	display: block;
}

.toggle-switch {
	width: 100%;
	padding: 15px 0;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
	gap: 10px;
}

.toggle-switch p {
	margin: 0 10px;
	font-weight: 500;
	font-size: 15px;
	color: var(--marine-blue);
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--marine-blue);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
}

.slider.round {
	border-radius: 34px;
}

.switch input {
	display: none;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}

.slider.round:before {
	border-radius: 50%;
	content: '';
	position: absolute;
	height: 14px;
	width: 14px;
	left: 4px;
	bottom: 3px;
	background-color: white;
}

.plan-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: var(--marine-blue);
}

.next-button a {
	color: var(--white);
}

.disabled-link {
	pointer-events: none;
}

.go-back-button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: var(--marine-blue);
	font-size: 16px;
	font-weight: 600;
}
