.form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 110px;
	max-width: 600px;
	width: 100%;
	gap: 50px;
	max-height: 520px;
}

.personal-info-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	gap: 20px;
}

.form-labels-inputs-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.labels-inputs {
	display: flex;
	flex-direction: column;
}

.label-alert-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 7px;
}

.label-alert-container label {
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: var(--marine-blue);
	font-weight: 500;
	box-sizing: content-box;
	max-height: 73px;
}

.email-alert-hidden,
.name-alert-hidden,
.phone-alert-hidden {
	color: var(--strawberry-red);
	font-weight: 500;
}

.labels-inputs input {
	border-radius: 8px;
	border: 1px solid var(--cool-gray);
	padding: 15px 10px;
	font-size: 17px;
	color: var(--marine-blue);
	font-weight: 600;
	outline: none;
}

.labels-inputs input:focus {
	outline: 1px solid var(--pastel-blue);
}

.labels-inputs input::placeholder {
	font-size: 18px;
	font-weight: 500;
}

.labels-inputs .name-alert,
.labels-inputs .email-alert,
.labels-inputs .phone-alert {
	border: 1px solid var(--strawberry-red);
}

.form-buttons {
	text-align: right;
}

.next-button {
	padding: 15px 25px;
	border-radius: 5px;
	border: none;
	background-color: var(--marine-blue);
	color: var(--white);
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--white);
	cursor: pointer;
}

.disabled-link {
	pointer-events: none;
}

/* STEPS CONTAINER CSS */
/* 
.first-step-container .step-round-number {
	background-color: var(--light-blue);
}

.step-round-number p {
	font-size: 17px;
	font-weight: 500;
}

.first-step-container .step-round-number p {
	color: var(--marine-blue);
} */
